<div class="container-fluid p-4">
    <div class="d-flex justify-content-between">
        <h2>Change Requests</h2>
       </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Title</th>
                <th>Urgency</th>
                <th>Status</th>
                <th>No of Tasks</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!allrequests">
                <td colspan="7">No data available</td>
            </tr>
            <tr *ngFor="let a of allrequests; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ a.description }}</td>
                <td>{{ a.urgency }}</td>
                <td>{{ a.status }}</td>
                <td>{{ a.tasks.length }}</td>
                <td>{{ a.createdAt | date:'shortTime' }} on {{ a.createdAt | date:'dd/MM/yyyy' }}</td>
                <td>
                    <button class="btn btn-primary" (click)="status(a)" data-bs-toggle="modal" data-bs-target="#statusModal">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-info" data-bs-target="#viewTaskModal" data-bs-toggle="modal"
                        (click)="update(a)">
                        <i class="fa fa-eye"></i>
                    </button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- View Tasks Modal -->
<div *ngIf="data">
    <div class="modal fade" id="viewTaskModal" tabindex="-1" aria-labelledby="viewTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewTaskModalLabel">Task Details</h5>
                    <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Assigned To</th>
                                <th>Created By</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of data?.tasks">
                                <td>{{ task.title }}</td>
                                <td>{{ task.description | slice:0:10 }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.assignedTo ? task.assignedTo : 'Unassigned' }}</td>
                                <td>{{ task.createdBy }}</td>
                                <td>{{ task.dueDate | date:'dd/MM/yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="obj">
    <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="assignTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="assignTaskModalLabel">Assign Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="d-flex justify-content-center">{{obj.description}}</h3>

                <label for="" class="form-label">Change Status</label>
                <select name="" id="" [(ngModel)]="newstatus" class="form-select">
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Completed">Completed</option>
                </select>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="updatestatus()">Update</button>
            </div>
          </div>
        </div>
      </div>
</div>
