<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" [class.active]="isselected" #myTag>
      <div class="custom-menu">
        <button
          type="button"
          (click)="togglebar()"
          id="sidebarCollapse"
          class="btn btn-primary"
        ></button>
      </div>
      <div
        class="img bg-wrap text-center py-4"
        style="background-image: url('assets/images/bg_1.jpg')"
      >
        <div class="user-logo">
          <div
            class="img"
            style="background-image: url(assets/logo.jpg)"
          ></div>
          <h3>{{ username }}</h3>
        </div>
      </div>

      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a
            routerLink="/admin/dashboard"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="fa fa-home mr-3"></span>Dashboard
          </a>
        </li>
        <li class="active">
            <a
              routerLink="/admin/users"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="fa fa-home mr-3"></span>View Users
            </a>
          </li>
        <li class="active">
            <a
              routerLink="/admin/incident"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="fa fa-home mr-3"></span>View Incidents
            </a>
          </li>
          <li class="active">
            <a
              routerLink="/admin/change"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="fa fa-home mr-3"></span>View Change Request
            </a>
          </li>

        
        <li>
          <a routerLinkActive="active-link" (click)="logout()"
            ><span class="fa fa-sign-out mr-3"></span> Sign Out</a
          >
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <router-outlet></router-outlet>
    </div>
</div>
